<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yixin.garage.dao.zhongtai.SgSendLogToZhongtaiMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yixin.garage.entity.zhongtai.SgSendLogToZhongtai">
        <id column="ID" property="id" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="CREATOR_DEPARTMENT_ID" property="creatorDepartmentId" />
        <result column="CREATOR_DEPARTMENT_NAME" property="creatorDepartmentName" />
        <result column="CREATOR_ID" property="creatorId" />
        <result column="CREATOR_NAME" property="creatorName" />
        <result column="IS_DELETED" property="deleted" />
        <result column="UPDATE_TIME" property="updateTime" />
        <result column="UPDATOR_DEPARTMENT_ID" property="updatorDepartmentId" />
        <result column="UPDATOR_DEPARTMENT_NAME" property="updatorDepartmentName" />
        <result column="UPDATOR_ID" property="updatorId" />
        <result column="UPDATOR_NAME" property="updatorName" />
        <result column="VERSION" property="version" />
        <result column="batch_num" property="batchNum" />
        <result column="interface_name" property="interfaceName" />
        <result column="lineCount" property="lineCount" />
        <result column="push_mode" property="pushMode" />
        <result column="send_info" property="sendInfo" />
    </resultMap>

    <!-- 查询列表 -->
    <resultMap id="sendInfoLogDtoMap" type="com.yixin.garage.dto.zhongtai.SgGarageSendInfoDTO">
        <id column="ID" property="id" />
        <result column="batch_num" property="batchNum" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="push_mode" property="pushMode" />
        <result column="lineCount" property="lineCount" />
        <result column="interface_name" property="interfaceName" />
        <result column="send_info" property="sendInfo" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, CREATE_TIME, CREATOR_DEPARTMENT_ID, CREATOR_DEPARTMENT_NAME, CREATOR_ID, CREATOR_NAME, IS_DELETED, UPDATE_TIME, UPDATOR_DEPARTMENT_ID, UPDATOR_DEPARTMENT_NAME, UPDATOR_ID, UPDATOR_NAME, VERSION, batch_num, interface_name, lineCount, push_mode, send_info
    </sql>

    <!-- 查询列表结果列 -->
    <sql id="info_Column_List">
        a.batch_num,a.CREATE_TIME,a.push_mode,a.lineCount,a.interface_name,a.send_info
    </sql>

    <sql id="buildQuerySql">
        <if test="dto.billNum != null and dto.billNum !=''">
            AND a.batch_num = #{dto.batchNum}
        </if>
        <if test="dto.interfaceName != null and dto.interfaceName !=''">
            AND a.interface_name = #{dto.interfaceName}
        </if>
        <if test="dto.sendInfo != null and dto.sendInfo !=''">
            AND a.send_info like concat('%',#{dto.sendInfo},'%')
        </if>
        <if test="dto.pushMode != null and dto.pushMode !=''">
            AND a.push_mode = #{dto.pushMode}
        </if>
        ORDER BY a.CREATE_TIME DESC
    </sql>

    <select id="pageQueryLog" parameterType="com.yixin.garage.dto.zhongtai.SgGarageSendInfoDTO" resultMap="sendInfoLogDtoMap">
        SELECT
        <include refid="info_Column_List"/>
        FROM
        sg_send_log_to_zhongtai a
        WHERE a.IS_DELETED = 0
        <include refid="buildQuerySql"></include>
    </select>

</mapper>
